<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-49126820-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-49126820-1');
    </script>

    <title>{% if page.title %}{{ page.title }} – Allen Guo{% endif %}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  </head>

  <body>
    <div class="article-top hidden-sm hidden-xs">
      <div class="header-text">
        <a href="http://aguo.us">allen guo</a>
        <span class="header-right">
          <a href="{{ site.baseurl }}/">writings</a>
          <a href="http://aguo.us">about</a>
        </span>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="footer-space"></div>
  </body>
</html>
